<div class = "back-button">
  <%= link_to "Back", equipments_path%>
</div>

<div class= 'list'>
  <%= simple_form_for @equipment do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
