<div class="container">
  <div class="hero">
    <div class="hero-box-one"><h2>CATCH ADVENTURES, NOT FEELINGS</h2></div>
    <div class="hero-box-two"><p>Renting equipment for hiking, camping, and sports refers to the practice of temporarily leasing outdoor gear and equipment for recreational activities such as backpacking, camping, skiing, or snowboarding. Renting allows individuals to access specialized gear without the expense of purchasing and maintaining it themselves.</p>

    <p><i class="fa-solid fa-heart"></i>&nbsp; With love, from <strong>ToGo</strong> team</p></div>
  </div>
</div>

<div class="container">
  <h2 style="margin-top: 150px;margin-bottom: 50px; font-size: 36px; font-weight: 700;">Available equipment</h2>


    <div class="equipment-cards equipments-container">
      <% @equipments.each do |equipment| %>
        <%= link_to equipment_path(equipment) do %>
          <div class="equipment-card">
            <div class="equipment-card-img" style="background-image: url('<%= cl_image_path equipment.photos.first.key %>')">
            </div>

            <div class="equipment-card-info">
              <!-- <div class="d-flex align-items-center">
                <div class="card-info-username-img"></div>
                <strong><%= equipment.user.username %></strong>
              </div> -->

              <div class="w-100 d-flex justify-content-between align-items-center">
                <div><h3><%= equipment.name %></h3></div>
                <div><h3><%= equipment.price %>€</h3></div>
              </div>

              <div style="margin-top:10px;"><%= equipment.description %></div>

              <div class="equipment-card-category">#<%= equipment.category %></div>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
