<div class="equipment-container">
  <div class="container">
    <div class="goback-button"><%= link_to "← Go back", equipments_path %></div>

    <div class="equipment-show">
      <!-- Left side -->
      <div class="equipment-show-right">
        <div class="equipment-description">
          <h2 style="font-weight: 700;"><%= @equipment.name %></h2>
          <p>Listed by <strong><%= @equipment.user.username %></strong></p>

          <h4><strong>€<%= @equipment.price %></strong> per day</h4>

          <p>Description: <%= @equipment.description %></p>

          <span style="color: grey"> #<%= @equipment.category %></span>
        </div>

        <div class="new-booking-container">
          <%= render "bookings/new", equipment: @equipment, booking: @booking %>
        </div>
      </div>

      <!-- Right side -->
      <div class="equipment-side">
        <div class="equipment-images">
          <% if @equipment.photos.attached?  %>
            <% @equipment.photos.each do |photo|  %>
              <%= cl_image_tag photo.key %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
