<div class="equipment-container">
  <div class="container">
    <div class="equipment-header">
      <h2><%= @equipment.name %></h2>
      <p>Listed by <strong><%= @equipment.user.username %></strong></p>
    </div>

    <div class="equipment-images">
      <% if @equipment.photos.attached?  %>
        <%= @equipment.photos.each do |photo|  %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      <% end %>
    </div>

    <div class="equipment-description">
      <h4><strong>€<%= @equipment.price %></strong> per day.</h4>
      <p><%= @equipment.description %></p>



    <%#= render "bookings/new", equipment: @equipment %>
  </div>
</div>
