<div class="equipment-container"
     data-controller="map"
     data-map-markers-value="<%= @markers.to_json %>"
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="container">
    <div class="equipment-buttons d-flex justify-content-between">
      <div class="goback-button">
        <%= link_to equipments_path do %>
          <i class="fa-solid fa-arrow-left" style="margin-right: 5px"></i>
          Go back
        <% end %>

      </div>

      <% if @equipment.user == current_user %>
        <div class="equipment-edit-buttons d-flex">
          <%= link_to edit_equipment_path(@equipment) do %>
            <i class="fa-solid fa-pen" style="margin-right: 5px"></i>
            Edit equipment
          <% end %>

          <%= button_to equipment_path(@equipment), method: :delete, data: {turbolinks: false, confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash" style="margin-right: 5px"></i>
            Delete equipment
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="equipment-show">
      <!-- Left side -->
      <div class="equipment-show-right">
        <div class="equipment-description">
          <h2 style="font-weight: 700;"><%= @equipment.name %></h2>
          <p>Listed by <strong><%= @equipment.user.username %></strong></p>

          <h4><strong>€<%= @equipment.price %></strong> per day</h4>

          <p>Description: <%= @equipment.description %></p>

          <span style="color: grey"> #<%= @equipment.category %></span>
        </div>

        <div class="new-booking-container">
          <%= render "bookings/new", equipment: @equipment, booking: @booking %>
        </div>
      </div>

      <!-- Right side -->
      <div class="equipment-side">
        <div class="equipment-images">
          <% if @equipment.photos.attached?  %>
            <% @equipment.photos.each do |photo|  %>
              <%= cl_image_tag photo.key %>
            <% end %>
          <% end %>
        </div>


      </div>
    </div>
    <hr>
    <h2 style = "font-size: 36px; font-weight: 700; margin-top: 50px;">Where i live?</h2>
    <div class="map-side" style="width: 100%; height: 450px;" data-map-target="map"></div>
  </div>
    <p style="margin-left: 70px; margin-top: 20px"><%= @equipment.address %></p>
</div>
