
<div class="container col-4" >
  <h1 class="text-center">Booking for <%= @equipment.name.capitalize %></h1>
  <%= simple_form_for [@equipment, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
    <%= f.submit %>
  <% end %>

</div>
