<div class="container" style="height: 40vw;">
<br>
<div class="goback-button"><%= link_to "← Go back", equipments_path %></div>
<% unless @my_bookings.nil? %>
  <h4>Requested bookings</h4>
  <ol>
    <% @my_bookings.each do |booking| %>

    <li><strong><%= booking.equipment.name %></strong><br>
    <%= booking.start_date %> - <%= booking.end_date %>. <br>
    Total price: <%= booking.total_price %>€ <br>
    Status: <%= booking.status %>.</li>

  <% end %>
<% end %>
</div>
  <%#=  each do to see all booking received %>
  <%#=  each do to see all booking submitted %>
<% unless @recieved_bookings.nil? %>
  <div class="container">
    <h4>Received bookings</h4>
    <ul>
    <% @received_bookings.each do |booking| %>

    <p><%= booking.start_date %></p>
    <%= link_to "Confirm",  booking_path(booking, {status: "confirmed"}), data: {turbo_method: :patch} %>
    <%= link_to "Reject",  booking_path(booking, {status: "cancelled"}), data: {turbo_method: :patch} %>
    <% end %>
  </div>
<% end %>
