<div class="container">
<div class="profile-container" >
  <div class="goback-button"><%= link_to "â† Go back", equipments_path %></div>

    <div class = "container d-flex justify-content-between">
      <div class = "profile-show">
        <!-- Left side -->
        <div class = "profile-right">
          <div class = "profile-description">
            <h2 style="font-weight: 700;">My Profile</h2>
            <% unless current_user.photo.key.nil? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar-large"%>
            <% else %>
              <%= image_tag "user", class: "avatar-large" %>
            <% end %>
           <p><strong> <%= current_user.username %></strong> </p>
            <p> Member since: <%= current_user.created_at.strftime("%B #{current_user.created_at.day.ordinalize}, %Y") %> </p>
          </div>

          <div class="order-container">
            <div class = "order-description">
              <h2 style="font-weight: 700;">My Submitted Bookings</h2>
              <span class="goback-button"><%= link_to "See all", bookings_path %></span>
              <ol class= "list-inline">
              <li><strong>Most recent:</strong></li>
              <li><span style="color:grey"><%= current_user.bookings.last.equipment.name %> from <%= current_user.bookings.last.equipment.user.username %>.  <br>Status: <%= current_user.bookings.last.status %> </span></li>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-side">
        <!-- right side -->
        <div class="profile-images">
          <h2 style="font-weight: 700;">Bookings</h2>

          <p><strong>Pendings</strong></p>
          <% if @pending_bookings.empty? %>
            <p>No bookings yet :(</p>
          <% else %>
            <% @pending_bookings.each do|booking| %>
              <div class="card-product">
                  <%= cl_image_tag booking.equipment.photos.first.key %>
                <div class="d-flex justify-content-between w-100 card-product-infos">
                  <div>
                    <p>Product booking <strong>status</strong> <%=booking.status%> </p>
                    <p> <%= booking.start_date %></p>
                    <p> <%= booking.end_date %></p>
                  </div>

                  <div class="d-flex align-items-center">
                    <div class="confirm-btn">
                      <%= button_to "Confirm",  booking_path(booking, {status: "confirmed"}), method: :patch, data: {turbo_confirm: 'Are you sure?'} %>
                    </div>

                      <div class="reject-btn">
                        <%= button_to "Reject",  booking_path(booking, {status: "cancelled"}), method: :patch, data: {turbo_confirm: 'Are you sure?'} %>
                      </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          <p><strong>Confirmed</strong></p>
          <% @confirmed_bookings.each do|booking| %>
            <div class="card-product">
              <%= cl_image_tag booking.equipment.photos.first.key %>
              <div class="d-flex w-100 justify-content-between card-product-infos">
                <div>
                  <p>Product booking <strong>status</strong> <%=booking.status%> </p>
                  <p> <%= booking.start_date %></p>
                  <p> <%= booking.end_date %></p>
                </div>
                <div class="reject-btn d-flex">
                  <%= button_to "Reject",  booking_path(booking, {status: "cancelled"}), method: :patch, data: {turbo_confirm: 'Are you sure?'} %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
